@font-face {
  font-family: "Gordita-Medium";
  src: url(../../../public/fonts/Gordita-Medium.ttf) format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Gordita-Regular";
  src: url(../../../public/fonts/Gordita-Regular.ttf) format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Gordita-Light";
  src: url(../../../public/fonts/Gordita-Light.ttf) format("truetype");
  font-style: normal;
}
@font-face {
  font-family: "Gordita-Bold";
  src: url(../../../public/fonts/Gordita-Bold.ttf) format("truetype");
  font-style: normal;
}
.container3 {
  background-color: white;
  width: 100%;
  padding-left: 164px;
  padding-right: 128px;
  padding-top: 72px;
  padding-bottom: 72px;
  display: flex;
  flex-direction: row;
  margin-left: 6rem;
  margin-right: 6rem;
}
.section {
  display: flex;
}

.singlesection {
  display: flex;
  flex-direction: column;
  margin-left: 22px;
}

.rectanglewithshadow {
  width: 414px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  margin-top: 29px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
  padding-bottom: 32px;
}

.studentname {
  color: #374957;
  font-family: "Gordita-Regular";
  font-size: 21px;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 0.42px;
  padding-top: 34px;
  padding-left: 34px;
}

.studentinstitute {
  color: #595959;
  font-family: "Gordita-Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;
  padding-left: 34px;
  margin-top: 9px;
}

.studenttext {
  color: #000;
  font-family: "Gordita-Regular";
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.32px;
  padding-left: 34px;
  padding-right: 28px;
  margin-top: 22px;
}

@media (max-width: 1599.98px) {
  .container3 {
    background-color: white;
    width: 100%;
    padding-left: 80px;
    padding-right: 128px;
    padding-top: 72px;
    padding-bottom: 72px;
    display: flex;
    flex-direction: row;
  }
  .section {
    display: flex;
  }
  .singlesection {
    display: flex;
    flex-direction: column;
    margin-left: 22px;
  }

  .rectanglewithshadow {
    width: 390px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin-top: 29px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    padding-bottom: 32px;
  }

  .studentname {
    color: #374957;
    font-family: "Gordita-Regular";
    font-size: 21px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    padding-top: 34px;
    padding-left: 34px;
  }

  .studentinstitute {
    color: #595959;
    font-family: "Gordita-Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.32px;
    padding-left: 34px;
    margin-top: 9px;
  }

  .studenttext {
    color: #000;
    font-family: "Gordita-Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.32px;
    padding-left: 34px;
    padding-right: 28px;
    margin-top: 22px;
  }
}
@media (max-width: 1399.98px) {
  .container3 {
    background-color: white;
    width: 100%;
    padding-left: 128px;
    padding-right: 128px;
    padding-top: 72px;
    padding-bottom: 72px;
    display: flex;
    flex-direction: row;
  }
  .section {
    display: flex;
  }
  .singlesection {
    display: flex;
    flex-direction: column;
    margin-left: 18px;
  }

  .rectanglewithshadow {
    width: 350px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin-top: 29px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    padding-bottom: 32px;
  }

  .studentname {
    color: #374957;
    font-family: "Gordita-Regular";
    font-size: 21px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    padding-top: 34px;
    padding-left: 34px;
  }

  .studentinstitute {
    color: #595959;
    font-family: "Gordita-Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.32px;
    padding-left: 34px;
    margin-top: 9px;
  }

  .studenttext {
    color: #000;
    font-family: "Gordita-Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.32px;
    padding-left: 34px;
    padding-right: 28px;
    margin-top: 22px;
  }
}

@media (max-width: 1199.98px) {
  .container3 {
    background-color: white;
    width: 100%;
    padding-left: 40px;
    padding-right: 96px;
    padding-top: 72px;
    padding-bottom: 72px;
    display: flex;
    flex-direction: row;
  }
  .section {
    display: flex;
  }
  .singlesection {
    display: flex;
    flex-direction: column;
    margin-left: 14px;
  }

  .rectanglewithshadow {
    width: 300px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin-top: 29px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    padding-bottom: 32px;
  }

  .studentname {
    color: #374957;
    font-family: "Gordita-Regular";
    font-size: 21px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    padding-top: 34px;
    padding-left: 34px;
  }

  .studentinstitute {
    color: #595959;
    font-family: "Gordita-Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.32px;
    padding-left: 34px;
    margin-top: 9px;
  }

  .studenttext {
    color: #000;
    font-family: "Gordita-Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.32px;
    padding-left: 34px;
    padding-right: 28px;
    margin-top: 22px;
  }
}
@media (max-width: 991.98px) {
  .container3 {
    background-color: white;
    width: 100%;
    padding-left: 40px;
    padding-right: 96px;
    padding-top: 72px;
    padding-bottom: 72px;
    display: flex;
    flex-direction: row;
  }
  .section {
    display: flex;
  }
  .singlesection {
    display: flex;
    flex-direction: column;
    margin-left: 14px;
  }

  .rectanglewithshadow {
    width: 240px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    margin-top: 29px;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.1);
    padding-bottom: 32px;
  }

  .studentname {
    color: #374957;
    font-family: "Gordita-Regular";
    font-size: 21px;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    padding-top: 34px;
    padding-left: 34px;
  }

  .studentinstitute {
    color: #595959;
    font-family: "Gordita-Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.32px;
    padding-left: 34px;
    margin-top: 9px;
  }

  .studenttext {
    color: #000;
    font-family: "Gordita-Regular";
    font-size: 16px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.32px;
    padding-left: 34px;
    padding-right: 28px;
    margin-top: 22px;
  }
}
